@using Repoblog.Models.BaseModels
@using Repoblog.Models.ViewModels
@model List<BlogIndex>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Index</h2>

@foreach (BlogIndex bl in Model)
{
    <table class="RB">
        <tr>
            <td>
                <b>@bl.Post.Overskrift</b>
            </td>
        </tr>
        <tr>
            <td>
                <p class="tekst">@bl.Post.Tekst</p>
                <i>
                    @bl.Post.Forfatter
                    @bl.Post.Dato
                </i>
            </td>
            <td>
                @if (bl.Billeder.Count > 0)
                {
                    <img src="/helpers/Images/@bl.Billeder[0].Filnavn" height="250"/>
                }
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="/blog/Edit/@bl.Post.ID">Rediger</a>
                <a href="/blog/Delete/@bl.Post.ID">Slet</a>
            </td>
        </tr>
    </table>
    <br/>
}